# Ansible
*.retry
.ansible/
inventory/hosts.yml

# Secrets
*.vault
.vault_pass
.env

# OS / editor
.DS_Store
Thumbs.db
*.swp

# UniMeet
unimeet/node_modules/
unimeet/frontend/node_modules/
unimeet/backend/node_modules/
unimeet/frontend/dist/
unimeet/backend/dist/
